body{
    max-height: 100vh;
    margin: 0 0 0 0;
}
.up-section{
    border: 1px black dashed;
    text-align: center;
    height: 50px;
}
/* this nav bar */
.nav{
    display: flex;
    justify-content: center;
    background-color: black;
    /* text-align: center; */
    height: 30px;
}
/* this is nav buttons group */
.nav-buttons-group{
    width: 350px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

li{
    display: flex;
    color: white;
    display: inline-block;
}

.hero{
    background-image: url("https://t3.ftcdn.net/jpg/02/57/29/88/360_F_257298837_B8n4pIKuxTVd2O9FyZAr44b4jU5FGnCH.jpg");       
    text-align: center;
    background-repeat: no-repeat;
    height: 180px;
}
.main-section{
    
    text-align: center;
    height: 100%;
}
.footer{
    background-color: lightgrey;
    text-align: center;
    height: 80px;
}

